# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a<b:
        print('lesser_of_two_evens({},{}) is -----> {}'.format(a,b,a))
    else:
        print('lesser_of_two_evens({},{}) is ------> {}'.format(a,b,b))

In [2]:
# Check
lesser_of_two_evens(2,4)

lesser_of_two_evens(2,4) is -----> 2

In [3]:
# Check
lesser_of_two_evens(2,1)

lesser_of_two_evens(2,1) is ------> 1

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [173]:
def animal_crackers(text):
    li=list(text.split(' '))
    print(li[0][0])
    print(li[1][0])
    if li[0][0]==li[1][0]:
        return True
    else:
        return False

In [174]:
# Check
animal_crackers('Raja Ram')

R
R

True

In [175]:
# Check
animal_crackers('Sohan Lal')

S
L

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [17]:
def makes_twenty(n1,n2):
    sum1=n1+n2
    if sum1==20 or n1==20 or n2==20:
        return True
    else:
        return False

In [18]:
# Check
makes_twenty(20,10)

True

In [19]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [20]:
def old_macdonald(name):
    li=list(name)
    s=''
    li[0]=li[0].upper()
    li[3]=li[3].upper()
    for item in li:
        s=s+item
    return s

In [21]:
 # Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [176]:
def master_yoda(text):
    li=list(text.split(' '))
    li2=[]
    temp=''
    for item in li:
        temp=temp+" "+li.pop()    
    print('master_yoda({}) ----->  {}'.format(text,temp+" "+li[0]))

In [177]:
# Check
st=input("Enter your string")
master_yoda(st)

Enter your stringMy name is Dhaja Ram Sandhu and I go to walk everyday at 4 in the morning
master_yoda(My name is Dhaja Ram Sandhu and I go to walk everyday at 4 in the morning) ----->   morning the in 4 at everyday walk to go My

In [76]:
# Check
master_yoda('We are ready')

master_yoda(We are ready) ----->   ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [77]:
def almost_there(n):
    if n in range(90,111) or n in range(190,210):
        return True
    else:
        return False

In [78]:
# Check
almost_there(104)

True

In [79]:
# Check
almost_there(150)

False

In [80]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [97]:
def has_33(nums):
    temp=0
    cc=0
    c=0
    for item in nums:
        cc=cc+1
        if temp==3 and item==3:
            return True
        else:
            c=c+1
        temp=item
    if c==cc:
        return False

In [98]:
# Check
has_33([1, 3, 3])

True

In [99]:
# Check
has_33([1, 3, 1, 3])

False

In [ ]:
# Check
has_33([3, 1, 3,3])

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [9]:
def paper_doll(text):
    li=list(text)
    print(li)
    count=0
    s=''
    for item in li:
        s=s+item+item+item
    print(s)

In [10]:
# Check
paper_doll('Hello')

['H', 'e', 'l', 'l', 'o']
HHHeeellllllooo

In [11]:
# Check
paper_doll('Mississippi')

['M', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']
MMMiiissssssiiissssssiiippppppiii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [23]:
def blackjack(a,b,c):
    s=a+b+c
    if s<=21:
        return s
    elif s>21 and (a==11 or b==11 or c==11):
        s=s-10
        return s
    if s>21:
        return 'BUST'

In [24]:
# Check
blackjack(5,6,7)

18

In [25]:
# Check
blackjack(9,9,9)

'BUST'

In [26]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [178]:
def summer_69(arr):
    s=0
    pt=0
    tt=0
    
    ct=0
    for item in arr:
        if item==6:
            pt=pt+1
            continue
        if pt==1:
            if item==9:
                pt=2
                continue
            else:
                continue   
        s=s+item  
    print(s)

IndentationError: expected an indented block (<ipython-input-178-2df65df91c34>, line 9)

In [14]:
# Check
summer_69([1, 3, 5])

9

In [15]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [16]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [140]:
def spy_game(nums):
    pt,ct,tt,nt=0,0,0,0
    li1=[]
    s=''
    for item in nums:
        if item==0 and pt==0 :
            li1.append(item)
            pt=1
            continue
            
        if pt==1:
            if item==0:
                tt=1
            else:
                tt=0
                nt=nt+1
            if item==0 and ct==0 and tt==1 and nt==0:
                li1.append(item)
                ct=1
                pt=2
                tt=2
        if ct==1 and pt==2 and tt==2:  
            if item==7:
                li1.append(item) 
                ct=2
                pt=3
                tt=3
    for item in li1:
        s=s+str(item)
    if s=='007':
        return True
    else:
        return False

In [141]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [144]:
# Check
spy_game([1,0,7,2,4,0,5,7])

False

In [143]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [166]:
def prime(number):
    found=0
    for n in range(2,int(number/2)+1):
        if number%n==0:
            found=found+1
    if found==0:
        return 1
    else:
        return 0

In [167]:
def count_primes(num):
    s=0
    for number in range(2,num+1):
        s=s+prime(number)
    print(s)

In [168]:
# Check
count_primes(300)

62

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [5]:
#alphabet a pattern
def pattern(letter):
    s=''
    if letter=='a':
        for row in range(1,6):
            for col in range(1,6):
                if ((row==3)or((col==1 or col==5)and(row>2))or((row==1)and(col==3))or((row==2)and(col==2))or((row==2)and(col==4))):
                    s=s+'*'
                    
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='b':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or((col<5)and((row==1)or(row==3)or(row==5)))or((col==5)and((row==2)or(row==4)))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='c':
        for row in range(1,6):
            for col in range(1,6):
                if ((((row==1)or(row==5))and(col!=1))or((col==1)and((row==2)or(row==3)or(row==4)))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s 
    elif letter=='d':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or((col<5)and((row==1)or(row==5)))or((col==5)and((row==2)or(row==3)or(row==4)))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='e':
        for row in range(1,6):
            for col in range(1,6):
                if (((col==1)or(row==1)or(row==5))or((row==3)and(col<4))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='f':
        for row in range(1,6):
            for col in range(1,6):
                if (((col==1)or(row==1)or(row==3))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='g':
        for row in range(1,6):
            for col in range(1,6):
                if (((row==1)and(col!=1))or((col==1)and((row!=1)and(row!=5))or((row==5)and(col!=4)))or((row==3)and(col>2))or((row==4)and((col==3)or(col==5)))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='h':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or(col==5)or(row==3)):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='i':
        for row in range(1,6):
            for col in range(1,6):
                if ((row==1)or(row==5)or(col==3)):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='j':
        for row in range(1,6):
            for col in range(1,6):
                if (((row==1)or(col==3))or((row==5)and(col==2))or((row)==4)and(col==1)):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='k':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or(((row==5)or(row==1))and(col==5))or((col==4)and((row==2)or(row==4)))or(row==3)and((col==2)or(col==3))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='l':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or((row==5)and(col>1))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='m':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or(col==5)or((row==2)and((col==2)or(col==4)))or((row==3)and(col==3))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='n':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or(col==5)or(col==row)):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='o':
        for row in range(1,6):
            for col in range(1,6):
                if (((row==1)or(row==5))and((col>1) and (col<5))or((col==1)or(col==5))and((row>1)and(row<5))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='p':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or(((row==1)or(row==3))and(col>1)and(col<5))or((row==2)and(col==5))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='q':
        for row in range(1,6):
            for col in range(1,6):
                if ((((row==1)or(row==5))and((col>1)and(col<4)))or(row==2 and (col!=3 and col!=5)) or (row==3 and (col!=2 and col!=5))or(row==4 and(col!=2 and col!=3))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='r':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or(row==1)or(((row==5)or(row==1))and(col==5))or((col==4)and((row==2)or(row==4)))or(row==3)and((col==2)or(col==3))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='s':
        for row in range(1,6):
            for col in range(1,6):
                if ((row==1 and(col>2))or((row==5)and(col>1 and col<5))or(row==2 and col==2)or (row==4 and(col==1 or col==5))or(row==3 and (col==3 or col==4))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='t':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==3)or(row==1)):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='u':
        for row in range(1,6):
            for col in range(1,6):
                if (((row==5)and((col>1) and (col<5)))or((col==1)or(col==5))and((row>1)and(row<5))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='v':
        for row in range(1,6):
            for col in range(1,6):
                if (((row==5)and(col==3))or((col==1)or(col==5))and((row>1)and(row<5))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='w':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or(col==5)or(row==3 and col==3) or (row==4 and(col==2 or col==4))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='x':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==row)or(((row==1 or row==5))and(col==5 or col==1))or((row==2 or row==4)and(col==2 or col==4))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        s=s+'\t'   
        return s
    elif letter=='y':
        for row in range(1,6):
            for col in range(1,6):
                if (((row==1)and((col==1)or(col==5)))or((row==2)and((col==2)or(col==4)))or((row>2)and(col==3))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    elif letter=='z':
        for row in range(1,6):
            for col in range(1,6):
                if ((row==1)or(row==5)or((col==2)and(row==4))or((row==2)and(col==4))or((row==3)and(col==3))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
    else:
        return ' \n'

In [6]:
alpha={}
for letter in 'abcdefghijklmnopqrstuvwxyz':
    alpha[letter]=pattern(letter)
alpha[' ']='\n'

In [7]:
from colored import fg, bg, attr
import random as r
name=input('Enter Name:')
s=''
forcolor=0
backcolor=0
li=[]
print("NAME")
    # pr
for item in name:
    forcolor=r.randint(0,255)
    print ('%s%s%s%s' % (fg(forcolor),alpha[item.lower()]+' ',attr('bold'), attr(5)))

Enter Name:Xenia
NAME
*   *
 * *
  *
 * *
*   *

*****
*
***
*
*****

*   *
**  *
* * *
*  **
*   *

*****
  *
  *
  *
*****

  *
 * *
*****
*   *
*   *

In [ ]:
from colored import fg, bg, attr
print ('{} Hello World !!! {}' .format(fg(1), attr(5)))
print ('{}{} Hello World !!! {}'.format(fg(1), bg(15), attr(5)))

In [10]:
print ('%s%s Hello World !!! %s' % (fg('orchid'), attr('bold'), attr('blink')))

 Hello World !!!

In [8]:
!pip install colored

Requirement already satisfied: colored in c:\users\anant\anaconda3\lib\site-packages (1.3.93)

## Great Job!

In [8]:
print("\033[0;37;40m Normal text\n")
print("\033[2;37;40m Underlined text\033[0;37;40m \n")
print("\033[1;37;40m Bright Colour\033[0;37;40m \n")
print("\033[3;37;40m Negative Colour\033[0;37;40m \n")
print("\033[5;37;40m Negative Colour\033[0;37;40m\n")
 
print("\033[1;37;40m \033[2;37:40m TextColour BlackBackground          TextColour GreyBackground                WhiteText ColouredBackground\033[0;37;40m\n")
print("\033[1;30;40m Dark Gray      \033[0m 1;30;40m            \033[0;30;47m Black      \033[0m 0;30;47m               \033[0;37;41m Black      \033[0m 0;37;41m")
print("\033[1;31;40m Bright Red     \033[0m 1;31;40m            \033[0;31;47m Red        \033[0m 0;31;47m               \033[0;37;42m Black      \033[0m 0;37;42m")
print("\033[1;32;40m Bright Green   \033[0m 1;32;40m            \033[0;32;47m Green      \033[0m 0;32;47m               \033[0;37;43m Black      \033[0m 0;37;43m")
print("\033[1;33;40m Yellow         \033[0m 1;33;40m            \033[0;33;47m Brown      \033[0m 0;33;47m               \033[0;37;44m Black      \033[0m 0;37;44m")
print("\033[1;34;40m Bright Blue    \033[0m 1;34;40m            \033[0;34;47m Blue       \033[0m 0;34;47m               \033[0;37;45m Black      \033[0m 0;37;45m")
print("\033[1;35;40m Bright Magenta \033[0m 1;35;40m            \033[0;35;47m Magenta    \033[0m 0;35;47m               \033[0;37;46m Black      \033[0m 0;37;46m")
print("\033[1;36;40m Bright Cyan    \033[0m 1;36;40m            \033[0;36;47m Cyan       \033[0m 0;36;47m               \033[0;37;47m Black      \033[0m 0;37;47m")
print("\033[1;37;40m White          \033[0m 1;37;40m            \033[0;37;40m Light Grey \033[0m 0;37;40m               \033[0;37;48m Black      \033[0m 0;37;48m")

 Normal text

 Underlined text

 Bright Colour

 Negative Colour

 Negative Colour

 [2;37:40m TextColour BlackBackground          TextColour GreyBackground                WhiteText ColouredBackground

 Dark Gray       1;30;40m             Black       0;30;47m                Black       0;37;41m
 Bright Red      1;31;40m             Red         0;31;47m                Black       0;37;42m
 Bright Green    1;32;40m             Green       0;32;47m                Black       0;37;43m
 Yellow          1;33;40m             Brown       0;33;47m                Black       0;37;44m
 Bright Blue     1;34;40m             Blue        0;34;47m                Black       0;37;45m
 Bright Magenta  1;35;40m             Magenta     0;35;47m                Black       0;37;46m
 Bright Cyan     1;36;40m             Cyan        0;36;47m                Black       0;37;47m
 White           1;37;40m             Light Grey  0;37;40m                Black       0;37;48m

In [10]:
print(a)

{'a': '  *  \n * * \n*****\n*   *\n*   *\n', 'b': '**** \n*   *\n**** \n*   *\n**** \n', 'c': ' ****\n*    \n*    \n*    \n ****\n', 'd': '**** \n*   *\n*   *\n*   *\n**** \n', 'e': '*****\n*    \n***  \n*    \n*****\n', 'f': '*****\n*    \n*****\n*    \n*    \n', 'g': ' ****\n*    \n* ***\n* * *\n*** *\n', 'h': '*   *\n*   *\n*****\n*   *\n*   *\n', 'i': '*****\n  *  \n  *  \n  *  \n*****\n', 'j': '*****\n  *  \n  *  \n* *  \n **  \n', 'k': '*   *\n*  * \n***  \n*  * \n*   *\n', 'l': '*    \n*    \n*    \n*    \n*****\n', 'm': '*   *\n** **\n* * *\n*   *\n*   *\n', 'n': '*   *\n**  *\n* * *\n*  **\n*   *\n', 'o': ' *** \n*   *\n*   *\n*   *\n *** \n', 'p': '**** \n*   *\n**** \n*    \n*    \n', 'q': ' **  \n** * \n* ** \n*  **\n **  \n', 'r': '*****\n*  * \n***  \n*  * \n*   *\n', 's': '  ***\n *   \n  ** \n*   *\n *** \n', 't': '*****\n  *  \n  *  \n  *  \n  *  \n', 'u': '     \n*   *\n*   *\n*   *\n *** \n', 'v': '     \n*   *\n*   *\n*   *\n  *  \n', 'w': '*   *\n*   *\n* * *\n** **\n*   *\n', 'x': '*   *\n * * \n  *  \n * * \n*   *\n', 'y': '*   *\n * * \n  *  \n  *  \n  *  \n', 'z': '*****\n   * \n  *  \n *   \n*****\n'}

In [1]:
def pattern(letter):
    s=''
    if letter=='d':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or((col<5)and((row==1)or(row==5)))or((col==5)and((row==2)or(row==3)or(row==4)))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [ ]:
pattern

In [93]:
def pattern(letter):
    s=''
    if letter=='g':
        for row in range(1,6):
            for col in range(1,6):
                if (((row==1)and(col!=1))or((col==1)and((row!=1)and(row!=5))or((row==5)and(col!=4)))or((row==3)and(col>2))or((row==4)and((col==3)or(col==5)))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s
   el

In [72]:
def pattern(letter):
    s=''
    if letter=='h':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or(col==5)or(row==3)):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [74]:
def pattern(letter):
    s=''
    if letter=='i':
        for row in range(1,6):
            for col in range(1,6):
                if ((row==1)or(row==5)or(col==3)):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s

In [76]:
def pattern(letter):
    s=''
    if letter=='j':
        for row in range(1,6):
            for col in range(1,6):
                if (((row==1)or(col==3))or((row==5)and(col==2))or((row)==4)and(col==1)):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [4]:
def pattern(letter):
    s=''
    if letter=='r':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or(row==1)or(((row==5)or(row==1))and(col==5))or((col==4)and((row==2)or(row==4)))or(row==3)and((col==2)or(col==3))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return

In [5]:
pattern('r')

*****
*  *
***
*  *
*   *

In [104]:
def pattern(letter):
    s=''
    if letter=='n':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or(col==5)or(col==row)):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [ ]:
def pattern(letter):
    s=''
    if letter=='k':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or(((row==5)or(row==1))and(col==5))or((col==4)and((row==2)or(row==4)))or(row==3)and((col==2)or(col==3))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    print(s)

In [109]:
def pattern(letter):
    s=''
    if letter=='p':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or(((row==1)or(row==3))and(col>1)and(col<5))or((row==2)and(col==5))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [111]:
def pattern(letter):
    s=''
    if letter=='t':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==3)or(row==1)):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [ ]:
def pattern(letter):
    s=''
    if letter=='t':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==3)or(row==1)):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [115]:
def pattern(letter):
    s=''
    if letter=='u':
        for row in range(1,6):
            for col in range(1,6):
                if (((row==5)and((col>1) and (col<5)))or((col==1)or(col==5))and((row>1)and(row<5))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [117]:
def pattern(letter):
    s=''
    if letter=='v':
        for row in range(1,6):
            for col in range(1,6):
                if (((row==5)and(col==3))or((col==1)or(col==5))and((row>1)and(row<5))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [65]:
def pattern(letter):
    s=''
    if letter=='v':
        for row in range(1,6):
            for col in range(1,6):
                if (((row==5)and(col==3))or((col==1)or(col==5))and((row>1)and(row<5))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [66]:
pattern('v')

'     \n*   *\n*   *\n*   *\n  *  \n'

In [71]:
def pattern(letter):
    s=''
    if letter=='e':
        for row in range(1,6):
            for col in range(1,6):
                if (((col==1)or(row==1)or(row==5))or((row==3)and(col<4))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [ ]:
def pattern(letter):
    s=''
    if letter=='o':
        for row in range(1,6):
            for col in range(1,6):
                if (((row==1)or(row==5))and((col>1) and (col<5))or((col==1)or(col==5))and((row>1)and(row<5))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [ ]:
def pattern(letter):
    s=''
    if letter=='m':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or(col==5)or((row==2)and((col==2)or(col==4)))or((row==3)and(col==3))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [ ]:
def pattern(letter):
    s=''
    if letter=='l':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or((row==5)and(col>1))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [ ]:
def pattern(letter):
    s=''
    if letter=='e':
        for row in range(1,6):
            for col in range(1,6):
                if (((col==1)or(row==1)or(row==5))or((row==3)and(col<4))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [ ]:
def pattern(letter):
    s=''
    if letter=='f':
        for row in range(1,6):
            for col in range(1,6):
                if (((col==1)or(row==1)or(row==3))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
        return s

In [62]:
pattern('f')

*****
*
*****
*
*

In [ ]:
def pattern(letter):
    s=''
    if letter=='b':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or((col<5)and((row==1)or(row==3)or(row==5)))or((col==5)and((row==2)or(row==4)))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [ ]:
def pattern(letter):
    s=''
    if letter=='c':
        for row in range(1,6):
            for col in range(1,6):
                if ((((row==1)or(row==5))and(col!=1))or((col==1)and((row==2)or(row==3)or(row==4)))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [ ]:
def pattern(letter):
    s=''
    if letter=='e':
        for row in range(1,6):
            for col in range(1,6):
                if (((col==1)or(row==1)or(row==5))or((row==3)and(col<4))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [121]:
def pattern(letter):
    s=''
    if letter=='z':
        for row in range(1,6):
            for col in range(1,6):
                if ((row==1)or(row==5)or((col==2)and(row==4))or((row==2)and(col==4))or((row==3)and(col==3))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [6]:
def pattern(letter):
    s=''
    if letter=='y':
        for row in range(1,6):
            for col in range(1,6):
                if (((row==1)and((col==1)or(col==5)))or((row==2)and((col==2)or(col==4)))or((row>2)and(col==3))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [35]:
def pattern(letter):
    s=''
    if letter=='q':
        for row in range(1,6):
            for col in range(1,6):
                if ((((row==1)or(row==5))and((col>1)and(col<4)))or(row==2 and (col!=3 and col!=5)) or (row==3 and (col!=2 and col!=5))or(row==4 and(col!=2 and col!=3))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [59]:
def pattern(letter):
    s=''
    if letter=='k':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or(row==1)or(((row==5)or(row==1))and(col==5))or((col==4)and((row==2)or(row==4)))or(row==3)and((col==2)or(col==3))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [43]:
def pattern(letter):
    s=''
    if letter=='w':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or(col==5)or(row==3 and col==3) or (row==4 and(col==2 or col==4))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [57]:
def pattern(letter):
    s=''
    if letter=='s':
        for row in range(1,6):
            for col in range(1,6):
                if ((row==1 and(col>2))or((row==5)and(col>1 and col<5))or(row==2 and col==2)or (row==4 and(col==1 or col==5))or(row==3 and (col==3 or col==4))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [ ]:
def pattern(letter):
    s=''
    if letter=='w':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==1)or(col==5)or(row==3 and col==3) or (row==4 and(col==2 or col==4))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s

In [60]:
pattern('k')

'*****\n*  * \n***  \n*  * \n*   *\n'

In [46]:
def pattern(letter):
    s=''
    if letter=='x':
        for row in range(1,6):
            for col in range(1,6):
                if ((col==row)or(((row==1 or row==5))and(col==5 or col==1))or((row==2 or row==4)and(col==2 or col==4))):
                    s=s+'*'
                else:
                    s=s+' '
            s=s+'\n'
    return s